/*.img-fit {
	text-align: center;
}*/

.center-align {
	margin: 0 auto;
	text-align: center;
}

.buffer {
	margin-top: 20px;
}

.img-resize {
	width: 80%;
}

.capitalize {
	text-transform: capitalize;
}

.moves-list {
	list-style: none;
	margin-left: 10px;
}

.last:last-of-type {
	font-weight: bold;
}

.place-right {
	margin-left: 435px;
}

.modal-img-resize {
	width: 50%;
}

.modal-moves-list {
	display: inline;
}

.modal-fix {
	display: inline;
	margin-left: -40px;
}

.modal-moves-list:after {
	content: ", ";
}

.modal-moves-list:last-child:after {
	content: "";
}

.answer {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}