/*.img-fit {
	width: 20px;
	height: auto;
}*/

.img-resize {
	width: 80%;
}

.capitalize {
	text-transform: capitalize;
}

.moves-list {
	list-style: none;
	margin-left: 10px;
}

.last:last-of-type {
	font-weight: bold;
}

.place-right {
	margin-left: 435px;
}